In [1]:
import pandas as pd
import numpy as np
import geonamescache
import pycountry
import difflib
import warnings
import statistics as stat
import re

from countryinfo import CountryInfo
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows',None)

In [2]:
df = pd.read_csv("../data/8_shark_species.csv")

# Limpieza final y comprobaciones

En este apartado vamos a realizar las últimas comprobaciones (valores nulos y casos atípicos). Además reiniciaremos el índice personal creado en la columna "Case Number" y prepararemos el data frame para una facil lectura.

Además sacaremos algunas estadísticas para tratar de obtener ciertas conclusiones.

In [3]:
df.head()

,Case Number,Year,Month,Day,Season,Time,Daytime,Country,Area,Location,Type,Activity,Injury,Deadly,Species,Size,Name,Sex,Age,Source,pdf,href,original order
0,Attack-6286,2018,6,25,Summer,18,Afternoon,United States,New Caledonia,"Oceanside, San Diego County",Boating,Padding,"No injury to occupant, outrigger canoe and pad...",N,White Shark,NaN,julie wolfe,F,57,"R. collier, gsaf",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6303.0
1,Attack-6285,2018,6,18,Summer,14,Afternoon,United States,Georgia,"St. Simon Island, Glynn County",Unprovoked,Standing,Minor injury to left thigh,N,Other Species,NaN,adysonâ mcneely,F,11,"K.mcmurray, trackingsharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6302.0
2,Attack-6284,2018,6,9,Summer,8,Morning,United States,Haiti,"Habush, Oahu",Invalid,Surfing,Injury to left lower leg from surfboard skeg,N,Other Species,NaN,john denges,M,48,"K.mcmurray, trackingsharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6301.0
3,Attack-6283,2018,6,8,Summer,13,Noon,Australia,New South Wales,Arrawarra Headland,Unprovoked,Surfing,Minor injury to lower leg,N,Unknown Shark,2.0,Unknown male,M,0,"B. myatt, gsaf",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6300.0
4,Attack-6282,2018,6,4,Summer,13,Noon,Mexico,Colombia,La Ticla,Provoked,Diving,Lacerations to leg & hand shark provoked incident,N,Unknown Shark,3.0,gustavo ramos,M,0,A .kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6299.0

In [4]:
print(df.columns[df.isnull().any()].tolist())

['Size']

Vemos que solo quedan valores nulos en la columna "Size". Recordamos que esto es una decisión tomada intencionalmente.

In [5]:
display(df.describe())

,Year,Month,Day,Time,Size,Age,original order
count,6232.00000,6232.000000,6232.000000,6232.000000,2006.000000,6232.000000,6232.000000
mean,1967.30552,5.609596,16.267490,13.197850,7.749975,14.974326,3172.590822
std,47.76467,3.873194,8.265583,2.598626,10.573853,17.032901,1810.177228
min,1543.00000,0.000000,0.000000,0.000000,1.000000,0.000000,2.000000
25%,1944.00000,2.000000,10.000000,13.000000,3.670000,0.000000,1609.750000
50%,1979.00000,6.000000,18.000000,13.000000,5.000000,13.000000,3180.500000
75%,2005.00000,9.000000,22.000000,13.000000,8.000000,25.000000,4739.250000
max,2176.00000,12.000000,31.000000,23.000000,100.000000,87.000000,6303.000000

En la descripción general de los se detecta que el año máximo es 2176. A continuación corregimos el df para evitar la presencia de años por delante del actual.

In [6]:
display(df.loc[df['Year'] == 2176.00000])

,Case Number,Year,Month,Day,Season,Time,Daytime,Country,Area,Location,Type,Activity,Injury,Deadly,Species,Size,Name,Sex,Age,Source,pdf,href,original order
4062,Attack-2208,2176,0,21,Unknown,13,Noon,Italy,Tuscany,"Cala del Corvo, Isola del Giglio",Invalid,Diving,Probable drowing. shark involvement unconfirmed,Unknown,Unknown Shark,NaN,karl pollerer & eric eisesenid,M,26,"C. moore, gsaf",1959.08.02-Giglio.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,2225.0

In [7]:
df.loc[df['Year'] == 2176.00000, 'Year'] = 1959

Mientras se solucionaba el problema se detecto que únicamente había un año por encima de los valores posibles. Se decide cambiarlo a mano, encontrando el año del ataque en la columna "pdf".

In [8]:
display(df.describe())

,Year,Month,Day,Time,Size,Age,original order
count,6232.000000,6232.000000,6232.000000,6232.000000,2006.000000,6232.000000,6232.000000
mean,1967.270700,5.609596,16.267490,13.197850,7.749975,14.974326,3172.590822
std,47.691548,3.873194,8.265583,2.598626,10.573853,17.032901,1810.177228
min,1543.000000,0.000000,0.000000,0.000000,1.000000,0.000000,2.000000
25%,1944.000000,2.000000,10.000000,13.000000,3.670000,0.000000,1609.750000
50%,1979.000000,6.000000,18.000000,13.000000,5.000000,13.000000,3180.500000
75%,2005.000000,9.000000,22.000000,13.000000,8.000000,25.000000,4739.250000
max,2018.000000,12.000000,31.000000,23.000000,100.000000,87.000000,6303.000000

Finalmente, y tras las últimas comprobaciones, declaramos la base de datos como limpia. Se ha eliminado la presencia de valores nulos, excepto los intencionadamente colocados en la columna Size y no se detectan más valores atípicos en la visualización.

# Estadísticas y conclusiones finales